<div class="container">
    <div class="row justify-content-center">
      <br> <br> <br> <br>

    </div>
    <div class="row justify-content-center">
        <div class="col-9 col-sm-9 col-md-9 ">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" id="label">Email Adresse</label>
                  <input type="email" id="input" class="form-control" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" id="label">Passwort</label>
                    <input type="password" id="input" class="form-control" id="password" placeholder="passwort">
                </div>
                <br><br>
                <div class="form-group text-center">
                    <button type="submit" id="loginButton" class="btn">Einloggen</button>
                    <a id="register">Registrieren</a>
                </div>
            </form>
        </div>
    </div>
</div>



